HTTP_PORT=3000
DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres-customers:5432/customers?schema=public
POSTGRES_PASSWORD=change-me
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=customers-service
KAFKA_GROUP_ID=customers-consumer
